*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: url(ferenc-horvath-skcFiBu91AA-unsplash.jpg);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1100px;
    min-height: 600px;
    background: #272a37;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 5);
}

.left-panel{
    flex: 1;
    background: url(./luffy.jpg) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.back-button{
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 5px 10px;
    background-color: rgba(143, 137, 137, 0.4);
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    transition: transform 0.3s, background-color 0.3s ease;
}

.back-button:hover{
    transform: scale(1.1);
    background-color: rgba(143, 137, 137, 0.6);
}
.back-button i{
    padding-left: 5px;
}

.tagline{
    text-align: center;
}

.tagline h2{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .dot{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 0 6px;
    opacity: 0.5;
}

.pagination .dot.active{
    opacity: 1;
}
