*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: url(ferenc-horvath-skcFiBu91AA-unsplash.jpg);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1100px;
    min-height: 600px;
    background: #272a37;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 5);
}

.left-panel{
    flex: 1;
    background: url(./luffy.jpg) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.back-button{
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 5px 10px;
    background-color: rgba(143, 137, 137, 0.4);
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    transition: transform 0.3s, background-color 0.3s ease;
}

.back-button:hover{
    transform: scale(1.1);
    background-color: rgba(143, 137, 137, 0.6);
}
.back-button i{
    padding-left: 5px;
}

.tagline{
    text-align: center;
}

.tagline h2{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .dot{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 0 6px;
    opacity: 0.5;
}

.pagination .dot.active{
    opacity: 1;
}

.right-panel{
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container h2{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.subtext{
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
    color: #a5a5b1;
}

.subtext a{
    color: #1d90f5;
    text-decoration: none;
    font-weight: bold;
}

.form-row{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.form-row.full-width{
    flex-direction: column;
}

.form-field{
    flex: 1;
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #323644;
    background: #323644;
    color: white;
    font-size: 14px;
}

.form-field::placeholder{
    color: #a5a5b1;
}

.form-field:focus{
    outline: none;
    border: 1px solid #1d90f5
}

.password-field{
    position: relative;
}

.password-field i{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #a5a5b1;
    font-size: 18px;
}

.password-field i:hover{
    color: #1d90f5;
}

.checkbox-container{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.checkbox-container input{
    margin: 0;
    cursor: pointer;
}

.checkbox-container label{
    font-size: 14px;
    color: #a5a5b1;
}

.checkbox-container label a{
    color: #1d90f5;
}
